<app-header></app-header>
<br><br>
<section class="mb-5">
    <div class="container">
     <div class="row">
     <div class="col-12">
         <div class="card shadow border-primary">
             <div class="card-header border-0 bg-primary">
                 <h5 class="mb-0 text-white">Manage Order</h5>
                     </div>
                     <br><br>
           <div class="table-responsive">
             <table class="table align-items-center table-flush">
                 <thead class="thead-light">
                     <tr>
                         <th scope="col">#</th>
                         <th scope="col">Order Id</th>
                         <th scope="col">Customer Namw</th>
                         <th scope="col">Product Name</th>
                         <th scope="col">Date</th>
                         <th scope="col">Action</th>
                         
                     </tr>
                    <tr>
                         <td>1</td>
                         <td>od123</td>
                         <td>mk</td>
                         <td>samsung</td>
                         <td>12-05-2022</td>
                         
                    <!-- <td>{{ prod.status  }}</td>-->
                         <td>
                             <!--<button class="btn btn-outline-info rounded-btn">
                                 <i class="fa fa-edit"></i>
                             </button>-->
                             &nbsp;&nbsp;
                             <button type="submit"  class="btn btn-outline-warning rounded-btn">
                                 <i class="fa fa-trash"></i>
                             </button>
                         </td>
                     </tr>
                 
                 </thead>
             </table>
            </div>          
         </div>
     </div>
     </div>
    </div>
 </section>
 